<footer class="footer text-base-content flex justify-center p-10">
<!--  <nav>-->
<!--    <h6 class="footer-title">Services</h6>-->
<!--    <a class="link link-hover">Branding</a>-->
<!--    <a class="link link-hover">Design</a>-->
<!--    <a class="link link-hover">Marketing</a>-->
<!--    <a class="link link-hover">Advertisement</a>-->
<!--  </nav>-->
<!--  <nav>-->
<!--    <h6 class="footer-title">Company</h6>-->
<!--    <a class="link link-hover">About us</a>-->
<!--    <a class="link link-hover">Contact</a>-->
<!--    <a class="link link-hover">Jobs</a>-->
<!--    <a class="link link-hover">Press kit</a>-->
<!--  </nav>-->
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a class="flex gap-2" [href]="'https://www.instagram.com/oh.my.stand/'" target=”_blank”>
        <img ngSrc="assets/icons/instagram.svg" alt="Instagram" height="20" width="20">
        <span>{{ instagramName }}</span>
      </a>
    </div>
  </nav>
</footer>
