<div class="overflow-x-auto glass">
  <table class="table">
    <!-- head -->
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- row 1 -->
      @for (stand of stands$ | async; track stand.id) {
        <tr>
          <th>{{ stand.id }}</th>
          <td>{{ stand.name }}</td>
          <td>
            <button class="btn" (click)="onEdit(stand)">Edit</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
