<div class="card glass w-auto lg:w-96">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="car!" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Elektron Digitakt</h2>
    <p><span class="font-semibold">850 ГРН</span></p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary" (click)="onAddToCart()">
        @if (isLoading) {
          <span class="loading loading-spinner"></span>
        }
        Додати y кошик
      </button>
    </div>
  </div>
</div>
